@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-[Raleway];
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 10;
}
.content-div-ch {
  z-index: 0;
  opacity: 0;
  transition: opacity 0.3s;
}

.card:hover .content-div-ch {
  z-index: 20;
  opacity: 0.9;
}

/* .content-div:hover {
     background: linear-gradient(
          80deg,
          rgba(10, 25, 47, 1) 48%,
          rgba(10, 25, 47, 1) 70%,
          rgba(134, 33, 90, 1) 100%,
          rgba(219, 39, 119, 1) 100%
     ) !important;
} */

body {
  background-color: #0a192f;
}
